@charset "utf-8";
/* CSS Document */

div{
	text-align:center;
	}
input{
	padding:8px;
	margin-top:60px;
	font-size:24px;
	width:40%;
	border-left:0px;border-top:0px;border-right:0px;
	outline:thin}


#title input{
	padding:8px;
	margin-top:60px;
	font-size:24px;
	width:40%;
	border-left:0px;border-top:0px;border-right:0px;
	outline:thin}

#director input{
	padding:8px;
	margin-top:60px;
	font-size:20px;
	width:40%;
	border-left:0px;border-top:0px;border-right:0px;
	outline:thin}


#time input{
	padding:8px;
	margin-top:60px;
	font-size:20px;
	width:40%;
	border-left:0px;border-top:0px;border-right:0px;
	outline:thin}

#actors input{
	padding:8px;
	margin-top:60px;
	font-size:20px;
	width:40%;
	border-left:0px;border-top:0px;border-right:0px;
	outline:thin}
#describe{

	margin-top:40px;
	height:auto;
	width:auto;
	margin-left:20%;
	margin-right:20%;
	
	margin-bottom:40px
	}



	
	
	
#content{
	
	margin-top:40px;
	height:auto;
	width:auto;
	margin-left:20%;
	margin-right:20%;
	
	margin-bottom:40px
	}

#submit{ text-align:center; vertical-align:top; display:inline;}
#submit input{ 
	background-color:#000;
	border:hidden;
	color:#FFF;
	height:35px;
	width:160px;
	border-radius:3px;
	font-weight: 300;
  	font-size: 16px;
  	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  
#reset{ text-align:center; vertical-align:top;display:inline; margin-left:120px;}
#reset input{ 
	background-color:#000;
	border:hidden;
	color:#FFF;
	height:35px;
	width:160px;
	border-radius:3px;
	font-weight: 300;
  	font-size: 16px;
  	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

